<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "tradehelper/app_header.html" %}
    <title>Письмо отправлено!</title>
</head>
<body>
<div id="login_container">
    <div id="login_form">
        <div id="login_form_header">
            <div style="display: flex; justify-content: center;">
                <h1 id="header_text">P2P Trade Helper</h1>
            </div>
            <h5 style="color:white;">Письмо отправлено!</h5>
        </div>
        <p style="margin: 1rem;">Мы отправили вам письмо с инструкциями для изменения вашего пароля. Если вы не получите его в течении пяти минут, проверьте вашу папку со спамом.</p>
    </div>
</div>
</body>
</html>