.root {
  position: relative;
  border-radius: 6px;
  padding: 16px 32px;
  border-width: 2px;
  border-color: #185adb;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.rootshowStartIcon {
  display: flex;
}
.rootcolor_navLink {
  padding: 10px 16px;
  border-width: 0px;
}
.rootcolor_footerButton {
  padding: 0px;
  border-style: none;
}
.rootcolor_navLinkOrange {
  background: var(--token-6WPcXA1Zl);
  padding: 10px 16px;
  border-style: none;
}
.rootcolor_blueSmall {
  background: #185adb;
  padding: 10px 16px;
  border-style: none;
}
.rootcolor_blueBorderSmall {
  padding: 10px 16px;
}
.rooticonOnly {
  padding-top: 11px;
  padding-bottom: 11px;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.rootcolor_green {
  background: #34c759;
}
.rootcolor_indigo {
  cursor: pointer;
  flex-direction: row;
  background: #5856d6;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.rootcolor_indigo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootcolor_indigo > :global(.__wab_flex-container) > *,
.rootcolor_indigo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootcolor_indigo > :global(.__wab_flex-container) > picture > img,
.rootcolor_indigo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rootcolor_blue {
  background: var(--token-P4jxXUrIgoyCc);
  padding: 15px 32px;
}
.rootcolor_red {
  background: var(--token-9SKGiLbQGaNxd);
}
.rootcolor_white {
  background: var(--token-RkIxGYxDbQW5n);
  border-style: none;
}
.rootcolor_darkGray {
  background: var(--token-Qy1TM3xjsDTll);
}
.slotTargetChildren {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  white-space: pre;
  color: var(--token-RkIxGYxDbQW5n);
  font-family: "Montserrat", sans-serif;
}
.slotTargetChildrencolor_navLink {
  font-weight: 500;
  color: #eeeeee;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.slotTargetChildrenlarge {
  font-size: 24px;
  line-height: 1.5em;
}
.slotTargetChildrencolor_green {
  color: var(--token-RkIxGYxDbQW5n);
}
.slotTargetChildrencolor_indigo {
  color: var(--token-RkIxGYxDbQW5n);
}
.slotTargetChildrencolor_blue {
  color: var(--token-RkIxGYxDbQW5n);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.slotTargetChildrencolor_red {
  color: var(--token-RkIxGYxDbQW5n);
}
.slotTargetChildrencolor_white {
  color: #185adb;
}
.slotTargetChildrencolor_darkGray {
  color: var(--token-6AbXQDdzBqQUA);
}
.slotTargetChildrencolor_link {
  color: var(--token-S3Xhsi8Z2QBa9);
}
.slotTargetEndIcon {
  color: var(--token-Qy1TM3xjsDTll);
}
.slotTargetEndIconcolor_green {
  color: var(--token-RkIxGYxDbQW5n);
}
.slotTargetEndIconcolor_indigo {
  color: var(--token-RkIxGYxDbQW5n);
}
.slotTargetEndIconcolor_blue {
  color: var(--token-RkIxGYxDbQW5n);
}
.slotTargetEndIconcolor_red {
  color: var(--token-RkIxGYxDbQW5n);
}
.slotTargetEndIconcolor_white {
  color: var(--token-Qy1TM3xjsDTll);
}
.slotTargetEndIconcolor_darkGray {
  color: var(--token-6AbXQDdzBqQUA);
}
.slotTargetEndIconcolor_link {
  color: var(--token-S3Xhsi8Z2QBa9);
}
.svg__vqFz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.slotTargetStartIcon {
  color: var(--token-Qy1TM3xjsDTll);
}
.slotTargetStartIconcolor_green {
  color: var(--token-RkIxGYxDbQW5n);
}
.slotTargetStartIconcolor_indigo {
  color: var(--token-RkIxGYxDbQW5n);
}
.slotTargetStartIconcolor_blue {
  color: var(--token-RkIxGYxDbQW5n);
}
.slotTargetStartIconcolor_red {
  color: var(--token-RkIxGYxDbQW5n);
}
.slotTargetStartIconcolor_white {
  color: var(--token-Qy1TM3xjsDTll);
}
.slotTargetStartIconcolor_darkGray {
  color: var(--token-6AbXQDdzBqQUA);
}
.slotTargetStartIconcolor_link {
  color: var(--token-S3Xhsi8Z2QBa9);
}
.svg__wq2W3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
