.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 81px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox___5CcCa {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-n_2H_gvQgM-ZJ);
  width: 100%;
  min-width: 0;
}
.freeBox___5CcCa > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox___5CcCa > :global(.__wab_flex-container) > *,
.freeBox___5CcCa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5CcCa > :global(.__wab_flex-container) > picture > img,
.freeBox___5CcCa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___5CcCa {
    display: flex;
    flex-direction: column;
    max-width: none;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___5CcCa > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___5CcCa > :global(.__wab_flex-container) > *,
  .freeBox___5CcCa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5CcCa > :global(.__wab_flex-container) > picture > img,
  .freeBox___5CcCa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__v711 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__v711 {
    justify-content: center;
  }
}
.freeBox__xOwP7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
  left: auto;
  top: auto;
  right: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
  }
}
.text___8VwEv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___8VwEv {
    text-align: center;
  }
}
.freeBox__ur9Wx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ur9Wx {
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-column-gap: 0px;
  }
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.svg__xSat {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: 40px;
  height: 40px;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.text__aG4A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 0px;
  align-self: flex-start;
  text-align: left;
  margin-left: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__aG4A {
    text-align: center;
    margin-left: 0px;
  }
}
.column__mr9C3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__mr9C3 {
    justify-content: center;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 67px;
  height: auto;
  width: 100%;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 19px;
  width: 305px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__h3GMl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__aGEbJ {
  color: #92959b;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__aGEbJ {
    text-align: center;
    font-size: 16px;
  }
}
.svg__mz7Sy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
