.root {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-column-gap: 0px;
  position: relative;
  width: auto;
  height: auto;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.rootbackground_dark {
  background: var(--token-2aDI5cXZSn2gT);
}
.rootbackground_gray {
  background: var(--token-qCY8ggMAOU_lE);
}
.rootbackground_shadow {
  box-shadow: 0px 4px 10px 1px #00000069;
  background: #ffffff;
}
.rootbackground_office {
  background: url("/plasmic/dark_saa_s_landing_page/images/thestandingdeskSGdVtz0Wt0SUnsplash1Jpg.jpeg") top 91% left 50% / cover no-repeat;
}
.rootsize_fullContentWidth {
  padding-top: 0px;
}
.rootsize_fullContentGallery {
  padding: 64px 0px;
}
.rootsize_mobile {
  padding-left: 18px;
  padding-right: 18px;
}
.freeBox {
  max-width: var(--token-n_2H_gvQgM-ZJ);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 8px;
}
.freeBoxbackground_shadow {
  box-shadow: none;
}
.freeBoxsize_fullContentWidth {
  max-width: none;
}
.freeBoxsize_fullContentGallery {
  max-width: 100%;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 0;
}
.freeBoxsize_mobile {
  padding: 0px;
}
